<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scriptInit">
<!--    JavaScript Librabries-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{../static/lib/easing/easing.min.js}"></script>
<script th:src="@{../static/lib/owlcarousel/owl.carousel.min.js}"></script>

<!--    Contact JavaScript File-->
<script th:src="@{../static/mail/jqBootstrapValidation.min.js}"></script>
<script th:src="@{../static/mail/contact.js}"></script>

<!--    Template Javascript-->
<script th:src="@{../static/js/main.js}"></script>
</div>
</html>